.letter {
  display: inline-flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}

.letter::after {
  content: '_';
  display: block;
}

.letter > span {
  height: 50%;
}

.letter-visible {
  transform: translateY(0%);
}
.letter-hide {
  transform: translateY(-50%);
}
